# .NET Core
bin/
obj/
*.user
*.userosscache
*.sln.docstates

# Visual Studio files
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Environment Settings
appsettings.Development.json
appsettings.Production.json
*.local.json

# Logs
logs/
*.log

# Dependencies
packages/
*.nupkg